body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 600px;
}
th,
td {
  border: 1px solid grey;
  padding: 10px 17px;
}
